/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

html {
	width: 1024px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
 horizontal-alignment: center;

}

.FlexTable {
 border-top: thin solid #444444;
 border-left: thin solid #444444;
 border-right: thin solid #111111;
 border-bottom: thin solid #111111;
 table-layout: auto;
 width: 400px; 
 margin-top: 7mm;
 line-height: 50px;
 
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.LoginBox{
	margin: auto;
	width: 45%;
	border: solid 1px #A9A9A9;
	border-top: solid 7px #204568;
	border-bottom : solid 7px #204568;
	padding: 10px;
	border-radius: 10px;
	background:white;
	margin-top: 75px;
	
}
.LoginFont{
	font: bold;
	font-size: 40px;
	font-family: Calibri;
	text-align: center;
	margin-bottom: 30px;
	
}

.LoginTBox{
	text-align: left;
    width: 100%;
    height: 24px;
   font-size: 12px;
   padding:0px;
	margin:0px;
	float: left;
	margin-left: 10px;
	margin-bottom: 15px;
	
}
.loginbtn{
	font-size: 16px;
	font-weight: normal;
	color: white;
	background: #0080ff;
	margin-top: 40px;
	border-radius: 10px;
	border: solid 2px #ffffff;
	
}


body { 
  
    background-image: url("images/bg.jpg")!important ;
}

.Header-Text {
	
	font-size: 40px;
	text-align: center;
	color: white;
	
}

.Header {
	background-color: black;
	height: 120px;
	padding: 30px;
	width: 1024px;
	margin: auto;
	
}

.Footer {
	padding: 15px;
	height: 50px;
	float: bottom;
	width: 1024px;
	clear: both;
	background-color: blue;
	
	
	}
	
	
.Footer-Text {
	text-align: center;
	color: cyan;
	
	
	}
	
.Menu {
	line-height: 20px;
	min-height: 400px;
	width: 160px;
	float: left;
	padding: 10px;
	background-color: green;
}

.Content {
	width: 864px;
	padding: 10px;
	float: left;
	background-color: red;
	min-height: 400px;
	
}

.ScrollPanel{
	min-width: 700px;
	padding: 10px;
	float: left;
	background-color: red;
	min-height: 375px;
}

.gwt-Anchor:link {color:#FFFFFF;}
.gwt-Anchor:visited {color:#00FF00;}
.gwt-Anchor:hover {color:#00ff00;}
.gwt-Anchor:active {color:#FF0000;}
.gwt-Anchor:


