/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

html {
width: 1024px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
 horizontal-alignment: center;

}

/* flextable styles */
.FlexTable {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	table-layout: auto;
	width: 600px; 
	margin-top: 7mm;
	border-color:black;
	text-align: center;
	
	
	
	
}

.FlexTable-Dialog {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	table-layout: auto;
	width: 300px; 
	margin-top: 7mm;
	border-color:black;
	text-align: center;
	
	
}
.FlexTable-Cell {
  
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}


.FlexTable-Header {
	font-weight: bold;
	

}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.LoginBox{
	margin: auto;
	width: 45%;
	border: solid 1px #A9A9A9;
	border-top: solid 7px #204568;
	border-bottom : solid 7px #204568;
	padding: 10px;
	border-radius: 10px;
	background:white;
	margin-top: 75px;
	
}
.LoginFont{
	font: bold;
	font-size: 40px;
	font-family: Calibri;
	text-align: center;
	margin-bottom: 30px;
	
}

.LoginTBox{
	text-align: left;
    width: 100%;
    height: 24px;
   font-size: 12px;
   padding:0px;
	margin:0px;
	float: left;
	margin-left: 10px;
	margin-bottom: 15px;
	
}
.loginbtn{
	font-size: 16px;
	font-weight: normal;
	color: white;
	background: #0080ff;
	margin-top: 40px;
	border-radius: 10px;
	border: solid 2px #ffffff;
	
}


body { 
  
    background-image: url("images/bg.jpg")!important ;
    
	
}

.Header-Text {
	
	font-size: 40px;
	text-align: center;
	color: #ffffff ;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	
}

.Header-Text-rolle{
	font-size: 14px;
	text-align:left;
	color: white;
	margin-bottom: 0px;
}

.Header {
	
	background: linear-gradient(to right, #004080 , #0080c0,#ffffff);
	height: 120px;
	padding: 30px;
	width: 1024px;
	margin: auto;
	padding: 10px;
	border-radius: 100px 100px 0px 0px;
	border-bottom: solid 2px #000000;
	border-top: solid 7px #000000;
	
	
}

.Footer {
	padding: 15px;
	height: 50px;
	float: bottom;
	width: 1024px;
	clear: both;
	
	background: linear-gradient(to right, #004080 , #0080c0,#ffffff);
	border-radius: 0px 0px 100px 100px;
	
	border-bottom: solid 7px #000000;
	border-top: solid 2px #000000;
	
	
	}
	
	
.Footer-Text {
	text-align: center;
	color: white;
	
	
	}
	.Dialog-Text {
	font-size: 30px;
	text-align: center;
	color: #0000ff;
	
	
	
	
	
	}
	
.Menu {
	line-height: 20px;
	min-height: 400px;
	width: 160px;
	float: left;
	padding: 10px;
	background-color: #014dfe;
	border-left : solid 2px #000000;
	border-right: solid 2px #000000;
	
}

.Content {
	width: 864px;
	padding: 10px;
	float: left;
	background-color: white;
	min-height: 400px;
	border-right: solid 2px #000000;
	
	
}

.DialogBox{
	width: 864px;
	padding: 10px;
	horizontal-alignment: center;
	background-color: white;
	min-height: 400px;
	border-right: solid 2px #000000;
	
	
}

.ScrollPanel{
	min-width: 700px;
	padding: 10px;
	float: left;
	background-color: red;
	min-height: 375px;
}

.gwt-Anchor:link {color:#000000;font-weight: bold; }
.gwt-Anchor:visited {color:#ff0000;}
.gwt-Anchor:hover {color:#ff0000;}
.gwt-Anchor:active {color:#FF0000;}


.FailOktext{
	color: red;
}

/* dependant style for text boxes */
.gwt-TextBox-invalidEntry {
	border-color: red;
	margin-left: 4mm;
	margin-right: 4mm;
	font-size: 12px;
	
}

.TextBox-style{
	
	margin-left: 4mm;
	margin-right: 4mm;
	font-size: 12px;
	
}

.TextBox-style1{
	
	margin-left: 4mm;
	margin-right: 4mm;
	font-size: 12px;
	width: 3cm;
}

.TextBox-fail{
	
	margin-left: 4mm;
	margin-right: 4mm;
	font-size: 12px;
	width: 3cm;
	border-color: red;
	border: 2px;
	
}

.Font-RB{
	font-size: 14px;
	font-weight: bold;
	margin-top: 1mm;
	margin-bottom: 5mm;
	
}

.Print_LineHeight{
	line-height: 70xpx;
}


